/*
Variales de SCSS
Para la creacion de fondos, textos y diferentes estilos
para el tema de colsanitas
*/

/* Gama cromatica */
$color-base1: #00ccff;
$color-base1: #000066;
$color-base1: #99cc00;
$color-base1: #00cc99;

$color-base2:#0099FF;
$color-base2:#006699;
$color-base2:#003399;
$color-base2:#66CC99;
$color-base2:#009966;
$color-base2:#339933;

$color-lineamiento1:#03A9f4;
$color-lineamiento1:#1a237e;
$color-lineamiento1:#88bc00;
$color-lineamiento1:#00c083;

$color-contraste-texto1:#3c3c3c;
$color-contraste-texto1:#000000;
$color-contraste-texto1:#1c1c1c;
$color-contraste-texto1:#FFFFFF;

/*Paleta de colores*/
$dark-primary:#5a9400;
$light-primary:#e3f0bf;
$text-primary:#ffffff;
$text-secondary:#757575;
$complementary-color-indigo:#1a237e;
$complementary-color-grey:#f5f5f5;
$primary-color:#88bc00;
$accent-color:#03a9f4;
$text-color-primary:#212121;
$divide-color:#bdbdbd;
$complementary-color-teal:#00c093;
$complementary-color-blue:#29b6f6;


